<%- include('../partials/header') %>

<form action="/restaurants/<%=restaurantId%>/reviews" method="post">
    <label>Review:
        <textarea name="message"></textarea>
    </label>
    <label>Rating:</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <input type="submit" value="ADD REVIEW">
</form>


<% if (reviews.length) { %>
    <table>
    <thead>
        <tr>
            <th>REVIEW</th>
            <th>RATE</th>
        </tr>
    </thead>
    <tbody>
        <% reviews.forEach(function(r){ %>
            <tr>
                <td>
                    <%= r.message %>
                </td>
                <td><%= r.rating %> </td>
            </tr>
            <% }); %>
    </tbody>
    </table>

    <% } else { %>
        <h5>No Review</h5>
      <% } %>  

<%- include('../partials/footer') %>