<%- include('../partials/header') %>
  
      <% restaurants.forEach(function(r){ %>
        <div id="first">
          
            <div ><%= r.name %></div>
            <div ><%= r.open %></div>
           <div ><%= r.close %></div>
           <div><%= r.tables %></div>
           <div><%= r.location %></div>
           <div><a href="/restaurants/<%= r._id %>">Book A Table</a></div>
          </div>
        
          
        <% }) %>

        <%- include('../partials/footer') %>
          
    



  


  
    


