<%- include('../partials/header') %>



<form action="/restaurants/<%=restaurant._id %>/reservations" method="POST">
  <label> Name:
    <input type="text" name="name">
  </label><br>
 <label>Guests:
     <input type="text" name="guests">
  </label><br>
<label>Time:
  <select name="hours">
    
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
  </select>
  <select name="minutes">
    <option value="00">00</option>
    <option value="30">30</option>
  </select>
  
    
  </label><br>
<label>Date:
    <input type="date" name="date">
  </label><br>
  <div id="reserve">
    <input type="submit" value="Reserve">  
  </div>
    
</form>




<h2 id="list"> Reservation List</h2>

<% if (restaurant.reservations.length) { %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Guests</th>
        <th>Time</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% restaurant.reservations.forEach(function(r) { %>
        <tr>
          <td>
            <%= r.name %>
          </td>
          <td>
            <%= r.guests %>
          </td>
          <td>                                     
            <%= r.time %>
          </td>
          <td>
            <%= r.date.toLocaleDateString() %>
          </td>
          <td> <a href="/reservations/<%=r._id %>/edit"> Edit</a></td>
          
          
        <% }); %>
      </tbody>
    </table>
 <% } else { %>
  <h5>No Reservation</h5>
<% } %>  



<div id="rate">
  <a href="/restaurants/<%=restaurant._id%>/reviews/new">RATE YOUR EXPERIENCE</a>
  </div>


  

<%- include('../partials/footer') %>